<!-- index.html -->
<!DOCTYPE html>
<html>
<head>
<!-- CSS ===================== -->
    <!-- load bootstrap -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"> 
    <style>
        body    { padding-top:30px; }
    </style>
    
    <!-- JS ===================== -->
    <!-- load angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script> 
    <script src="app.js"></script>
	<title></title>
</head>
<body ng-app="validationApp" ng-controller="mainController">
<div class="container">
	<div class="col-sm-8 col-sm-offset-2">
		<!-- page header -->
		<div class="page-header">
			<h1>angular js form validation</h1>
		</div>
		<!-- end header -->
		<form novalidate name="useForm" ng-submit="submitForm(userForm.$vaild)">
			<!-- name -->
			<div class="form-group">
	            <label>Name</label>
	            <input type="text" name="name" class="form-control" ng-model="user.name" required>
	            <p ng-show="userForm.name.$invalid"></p>
        	</div>
			<!-- end name -->
			<!-- user name -->
			<div class="form-group">
				<label>User name</label>
				<input type="text" name="username" class="form-control" ng-model="user.username" ng-minlength="3" ng-maxlength="8" required>
			</div>
			<!-- end user name -->
			<!-- email -->
			<div class="form-group">
				<label>Email</label>
				<input type="email" name="email" class="form-control" ng-model="user.email" required>
			</div>
			<!-- end email -->
			<!-- submit button -->
			<button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid">Submit</button>
			<!-- en submit button -->
		</form>
	</div>
</div>

</body>
</html>
<!-- end index.html -->